// COLORS

$blue-light: #2C91FF;
$blue-light-50:  #2C91FF50;

$blue-dark: #2D6DFF;

$orange-light: #FF8A00;
$orange-dark: #EE8100;

$white: #FFFFFF;
$white-20: #FFFFFF20;
$white-40: #FFFFFF40;
$white-60: #FFFFFF60;
$white-80: #FFFFFF80;

$disabled-grey: #525252;

$black: #000000;
$black-10: #00000010;

$toaster-error: #f7542f;
$toaster-success: #3ed17f;
$toaster-info: #494e55;


// FONT SIZES

$input-text-size: 1.2rem;
$placeholder-text-weight: 400;
